[user]
	name = Karavellas
	email = karavellasyiannis@gmail.com
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$REMOTE"
[init]
	defaultBranch = master
